pandas
numpy
openpyxl
matplotlib
seaborn
plotly
streamlit
langchain
langgraph
langchain-community
langchain-core
langchain-google-genai
langchain-groq
python-dotenv
faiss-cpu
fastapi
uvicorn
reportlab
tabulate
tqdm