pandas
numpy
openpyxl
matplotlib
seaborn
plotly
langchain
langgraph
langchain-community
langchain-core
langchain-google-genai
langchain-groq
python-dotenv
faiss-cpu
reportlab
tabulate
tqdm
scipy
langchain_groq
boto3
flask
flask-cors
gunicorn